
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


header {
    position: fixed;
  left: 0;
  width: 100%;
  background-color: #fff; /* You can change this to your desired background color */
  z-index: 1000; /* Ensure the header is above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
 
  }

.counter{
    margin-top: 10px;
}
.content{
 
}

.image-carousel-container {
  width: 100%; /* Take full width on mobile */
  max-width: 400px; /* Limit maximum width */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center on the screen */
}

.image-carousel-image {
  width: 100%; /* Fully responsive */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure images fill the container nicely */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.menu-button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.city-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.city-list li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: -1px;
  background-color: white;
}

@media (max-width: 600px) {
  .search-input {
    padding: 8px;
  }

  .menu-button {
    padding: 8px;
  }

  .city-list li {
    padding: 8px;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.animated-typing-text-container {
  background-color: #f0f4f8; /* fixed light background color */
  padding: 2rem;
  border-radius: 10px;
  text-align: center; /* right-to-left text alignment */
  direction: rtl; /* right-to-left text direction */
  font-family: 'Montserrat', sans-serif; /* nice font */
  font-size: 1.2rem;
  line-height: 1.5;
}

.animated-title,
.animated-subtitle,
.animated-paragraph {
  white-space: pre-wrap; /* preserves whitespace and line breaks */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Hide scrollbar */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}