
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


header {
    position: fixed;
  left: 0;
  width: 100%;
  background-color: #fff; /* You can change this to your desired background color */
  z-index: 1000; /* Ensure the header is above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
 
  }

.counter{
    margin-top: 10px;
}